@{
	Layout = "_Layout";
	ViewBag.title = "Email";
}

<div class="row page-titles mx-0">
	<div class="col p-md-0">
		<ol class="breadcrumb">			
			<li class="breadcrumb-item active"><a href="javascript:void(0)">Email</a></li>
		</ol>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					@{
						Html.RenderPartial("~/Views/Shared/LeftMessageMenu.cshtml");
					}
					<div class="email-right-box">
						<div role="toolbar" class="toolbar">
							<div class="btn-group mb-1">
								<button aria-expanded="false" data-toggle="dropdown" class="btn btn-dark dropdown-toggle" type="button">
									More <span class="caret m-l-5"></span>
								</button>
								<div class="dropdown-menu">
									<span class="dropdown-header label-primary">More Option :</span>
									<a href="javascript: void(0);" class="dropdown-item btn-make-allread">Make all as read</a>
									<a href="javascript: void(0);" class="dropdown-item act-todo">To Do</a>
									<a href="javascript: void(0);" class="dropdown-item act-inprogress">In Progress</a>
									<a href="javascript: void(0);" class="dropdown-item act-lowpriority">Low Priority</a>
									<a href="javascript: void(0);" class="dropdown-item act-archived">Archived</a>
									<a href="javascript: void(0);" class="dropdown-item act-trash">Trash</a>
									<a href="javascript: void(0);" class="dropdown-item act-spam">Spam</a>
								</div>
							</div>
						</div>
						<div class="email-list m-t-15">
							@*@for (int i = 0; i < ViewBag.lstMails.Count; i++)
							{
								TbEmail p = ViewBag.lstMails[i];
								<div class="message @(p.em_read == 1 ? "read" : "")">
									<a href="javascript:void(0);">
										<div class="col-mail col-mail-1">
											<div class="email-checkbox">
												<input type="checkbox" class="chk2" data-idx="@p.em_idx">
												<label class="toggle" for="chk2"></label>
											</div><span class="star-toggle ti-star"></span>
										</div>
										<div class="col-mail col-mail-2 message-details" data-idx="@p.em_idx">
											<div class="subject">@p.em_subject</div>
											<div class="date p-0">@p.em_date?.ToString("MM-dd hh:mm:tt")</div>
										</div>
									</a>
								</div>
							}*@
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<form action="/home/messages" type="get" id="messages_form">
	<input type="hidden" value="@ViewBag.searchString" name="searchString" />
	<input type="hidden" value="@ViewBag.em_state" name="em_state" />
</form>